<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      MOVIES & SERIALS DATABASE 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <br>
 <ion-row >
  <ion-col>
  <ion-button 
  
  color="none"
  size="large"
  id="ImageMovies" style=" background-size:cover" 
  (click)="RedirectToMovies()">
    
  </ion-button>
  </ion-col>
  </ion-row>
<br>
  <ion-row >
    <ion-col>
  <ion-button 
  color="none"
  size="large"
  id="ImageSerials" style=" background-size:cover" 
  (click)="RedirectToSerialy()">
    
  </ion-button>
</ion-col>
</ion-row>
</ion-grid>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
