<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Databáze filmů a seriálů
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="RedirectToMovies()"> Movie database
    
  </ion-button>

  <ion-button (click)="RedirectToSerialy()"> Serial database
    
  </ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mobilní aplikace databáze filmů a seriálů</strong>
  </div>
</ion-content>
