#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#ImageMovies {
  
  background-image: url('movies.png');
  height: 200px;
  width: 350px;
}

#ImageSerials {
  
  background-image: url('serials.png');
  height: 200px;
  width: 350px;
}

ion-col {
 
  border: solid 1px #fff;
   text-align: center;
  --ion-grid-column-padding: 8px;
  
}
ion-toolbar {
  --background: #FFE22D;
  color: black;
  font-style: bold;

}
   
